@import './todo-list-header.css';
@import './todo-list-folder.css';
@import './todo-list-items.css';
@import './todo-list-editor.css';

todo-header {
  border-bottom: 1px solid gray;
  height: 10%;
  display: block;
  position: relative;
}

main {
  width: 100%;
  height: 90%;
  display: flex;
}

todo-folder, todo-items {
  flex: 0 0 180px;
  display: inline-block;
  border-right: 1px solid lightgray;
  height: 100%;
  box-sizing: border-box;
}

todo-folder {
  background-color: #f4f4f4;
}

todo-items {
  flex: 0 0 200px;
}

todo-editor {
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fffcf5;
  width: 69%;
  height: 100%;
}
