todo-folder .add-task {
  width: 120px;
  height: 30px;
  background-color: white;
  margin: 15px auto;
  border: 1px solid lightgray;
  border-radius: 15px;
  display: flex;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  pointer-events: none;
  cursor: pointer;
}

.menu li > img.icon.add-folder {
  pointer-events: auto;
}

.add-task img {
  margin: 5px 5px 0 15px;
}

.add-task span {
  text-align: center;
  line-height: 30px;
}

.add-task.hide {
  background-color: #f4f4f4;
  pointer-events: none;
}

.menu li {
  padding-left: 25px;
  align-items: center;
  list-style: none;
  height: 40px;
  display: flex;
  cursor: pointer;
  position: relative;
}

li span {
  pointer-events: none;
}

.menu li.active {
  color: blue;
  background-color: #eee;
}

.menu li:hover {
  background-color: white;
}

.menu .expand {
  position: absolute;
  left: 0px;
}

.menu .add-folder {
  position: absolute;
  right: 0;
}

.menu .menu img.icon {
  margin-left: 30px;
}

.hide {
  display: none;
}

.menu .menu li:hover {
  background-color: white;
  background: url("arr-down.svg") no-repeat, white;
  background-size: 20px 20px;
  background-position: 165px;
}

.menu .folder-menu-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 4px;
  top: 9px;
  display: none;
  background-color: #a2a2a223;
  z-index: 5;
  border-radius: 10px;
}

.menu .menu li:hover > .folder-menu-handle {
  display: block;
}

.folder-menu {
  background-color: #f6f6f6;
  border: 1px solid gray;
  width: 150px;
  list-style: none;
  position: absolute;
  z-index: 20;
}
