@import '../toolbar/toolbar.css';
@import '../folder-list-dlg/folder-list-dlg.css';

todo-items .header {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  position: relative;
  font-size: 10px;
}


todo-items input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.header > .select-all {
  position: absolute;
  left: 10px;
}

.header > .select-all:hover,
.header > span:hover + input[type="checkbox"] {
  display: block;
}

.header > span {
  padding-left: 30px;
}

.header label {
  position: absolute;
  right: 20px;
}

.header .orderby {
  width: 95px;
  outline: none;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

ul.items li {
  box-sizing: border-box;
  height: 80px;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  position: relative;
  cursor: pointer;
}

ul.items li.active {
  background-color: #f4f4f4;
}

ul.items li .select-item {
  position: absolute;
  left: 10px;
  top: 10px;
}

ul.items li p {
  height: 24px;
  cursor: pointer;
  pointer-events: none;
}

p.update-time {
  font-size: 8px;
  cursor: pointer;
}

ul.items li:hover > input[type="checkbox"] {
  display: block;
}
